table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    
    
}

tr {
    border-bottom: 1px solid black;/* Se você especificar bordas apenas na parte inferior de cada linha da tabela, terá uma tabela com divisores horizontais.*/
}

tr:hover {/*destacar as linhas da tabela ao passar o mouse sobre:*/
    background-color: rgba(141, 141, 140, 0.295);
}
